@CHARSET "UTF-8";

/* h2 */

#contents h2 {
	text-align: right;
	padding:1.5%;
	padding-right: 7%;
	font-weight: bold;
	color: #FFB638;
}

/* anchor */

a{	text-decoration:none;}
a:link{	color:black;}
a:visited{	color:black;}
a:hover{	color:red;}
a:active{	color:black;}
img {width: 50px;}

/* table */

#cartForm table{
	width:90%;
	margin : 0 auto;
	margin-top:5%;
}

table.carttable, th, td {
	margin : 3%;
	width : 90%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.5;
}

table.carttable th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	background: #FFB638;
	color: #ffffff;
}

table.carttable td {
	width: 350px;
	font-size: 0.8em;
	text-align: center;
	padding: 0.8%;
}

/* button3 */

.submit_btn_box3{
	width : 10%;
	display : inline-block;
	margin-top : 5px;
	margin-bottom : 5px;

}

.submit_btn3 {
	display:inline-block;
    padding: 0.5em 1em;
    text-decoration:none;
    border-radius:100px;
    width: 100%;
	height : 40px;
	margin-top : -5px;
    font-size: 1vw;
    font-weight: bold;
    text-align:center;
    margin-left: 400%;
    color:#fff;
    background: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
}

.submit_btn3:hover{
    color:#fff;
    background-color:#FFB638;
    cursor: pointer;
    opacity:0.5;
    background: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
}

.submit_btn3:active{
	background: #FFB638;
}

.submit_btn3:disabled{
	background-image: none;
    background-color: #FFB638;
    border-color: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
	opacity: 0.5;
}

/* button4 */

.submit_btn_box4 {
	width : 10%;
	display : inline-block;
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left: 30%;
}

.submit_btn4 {
	display:inline-block;
    padding: 0.5em 1em;
    text-decoration:none;
    border-radius:100px;
    width: 100%;
	height : 40px;
	margin-top : -5px;
    font-size: 1vw;
    font-weight: bold;
    color:#fff;
    background: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
}

.submit_btn4:hover{
    color:#fff;
    background-color:#FFB638;
    cursor: pointer;
    opacity:0.5;
    background: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
}

.submit_btn4:active{
	background: #FFB638;
}

.submit_btn4:disabled{
	background-image: none;
    background-color: #FFB638;
    border-color: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
	opacity: 0.5;
}