@CHARSET "UTF-8";

/* table */

.vertical-list-table{
	margin-top: 2%;
	margin-bottom: 2%;
	width: 100%;
	text-align: left;
	font-size: 1.4rem;
}

.vertical-list-table th{
	background-color: #FFB638;
	border: solid 1px #ccc;
	padding-left: 1%;
	width: 25%;
	height: 50px;
	color: white;
}

.vertical-list-table td{
	width: 75%;
	border: solid 1px #ccc;
	padding: 1%;
}

label {
	font-weight: bold;
}

/* submit_btn3 */

.submit_btn_box3 {
	width : 100%;
	display : inline-block;
	text-align: center;
	margin: 0;
	margin-bottom: 1%;
}

.submit_btn3 {
    text-decoration:none;
    border-radius:100px;
    width: 10%;
	height : 40px;
    font-size: 1vw;
    font-weight: bold;
    text-align:center;
    outline: none;
    color:#fff;
    background: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
	margin: 0;
	padding: 0;
}

.submit_btn3:hover{
    color:#fff;
    background-color:#FFB638;
    cursor: pointer;
    opacity:0.5;
    background: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
}

.submit_btn3:active{
	background: #FFB638;
}

.submit_btn3:disabled{
	background-image: none;
    background-color: #FFB638;
    border-color: #FFB638;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB638), to(#FFB638) );
    background: -moz-linear-gradient(-90deg, #FFB638, #FFB638);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFB638', endColorstr='#FFB638');
	opacity: 0.5;
}

/* anchorのボタン */

a.submit_anc01{
	width: 10%;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	border: 2px outset #e4e4e4;
    text-decoration: none;
    border-radius: 100px;
    font-size: 1vw;
    text-align: center;
    margin-left: 5px;
    color: #fff;
    background: #FFB638;
    box-sizing:border-box;
}

.submit_anc01:hover{
	cursor: pointer;
    opacity:0.5;
}

.submit_anc01:active{
	background: #FFB638;
    border-style:inset;
}